@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

.heading {
    height: 100vh;
    width: 100%;
    background-color: #0091e4;
    overflow-x: hidden;
}

body {
    font-family: "Poppins", sans-serif;
}

.main {
    width: auto;
}

.foot {
    --tw-bg-opacity: 1;
    background-color: rgb(15 23 42 / var(--tw-bg-opacity));
}

.text-primary{
    --tw-text-opacity: 1 !important;
    color: rgb(20 184 166 / var(--tw-text-opacity)) !important;
}

.bg-primary{
        --tw-text-opacity: 1 !important;
        background-color: rgb(20 184 166 / var(--tw-text-opacity)) !important;
}

.text-secondary{
    --tw-text-opacity: 1 !important;
    color: rgb(100 116 139 / var(--tw-text-opacity)) !important;
}

.pagination > li > a,
.pagination > li > span {
    --tw-text-opacity: 1 !important;
    color: rgb(20 184 166 / var(--tw-text-opacity)) !important;
}


.page-item.active .page-link {
    z-index: 1;
    color: #fff !important;
    --tw-text-opacity: 1 !important;
    background-color: rgb(20 184 166 / var(--tw-text-opacity)) !important;
    border-color: rgb(20 184 166 / var(--tw-text-opacity)) !important;
    /* border-color: green; */
}
